<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/ticket/updateTicket}"
				method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">
						Update Ticket Information <span style="font-size: small"> *
							is a required field</span>
					</legend>

					<input hidden="hidden" name="id" th:value="${ticket.id}" />
					
					<!-- Title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* Title</label>
						<div class="col-md-8">
							<input type="text" name="title" class="form-control" id="title"
								th:value="${ticket.title}" required="required"
								placeholder="Title" /> <span class="help-block">Title of
								the ticket</span>
						</div>
					</div>

					<!-- Venue -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="venue">* Venue</label>
						<div class="col-md-8">
							<input type="text" name="venue" class="form-control" id="venue"
								th:value="${ticket.venue}" required="required"
								placeholder="Venue" /> <span class="help-block">Venue of
								the event</span>
						</div>
					</div>

					<!-- League -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="league"> League</label>
						<div class="col-md-8">
							<input type="text" name="league" class="form-control" id="league"
								th:value="${ticket.league}" placeholder="League" /> <span
								class="help-block">League of the event</span>
						</div>
					</div>

					<!-- Event Date -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="eventDate">
							Event Date</label>
						<div class="col-md-8">
							<input type="date" class="form-control" id="eventDate"
								name="eventDate" th:value="${ticket.eventDate}"
								placeholder="Event Date" /> <span class="help-block">Date
								of the event</span>
						</div>
					</div>

					<!-- language -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="language">
							Language </label>
						<div class="col-xs-8">
							<select th:value="${ticket.language}" id="language"
								name="language" class="form-control">
								<option value="english">English</option>
								<option value="spanish">Spanish</option>
							</select>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">
							Category </label>
						<div class="col-md-8">
							<select th:value="${ticket.category}" id="category"
								name="category" class="form-control">
								<option value="" selected="selected" disabled="disabled">Please
									select an option ...</option>
								<option value="Basketball"
									th:selected="(${ticket.category}=='Basketball')">Basketball</option>
								<option value="Football"
									th:selected="${ticket.category}=='Football'">Football</option>
								<option value="Soccer"
									th:selected="${ticket.category}=='Soccer'">Soccer</option>
								<option value="Volleyball"
									th:selected="${ticket.category}=='Volleyball'">Volleyball</option>
								<option value="Tennis"
									th:selected="${ticket.category}=='Tennis'">Tennis</option>
							</select>
						</div>
					</div>

					<!-- Capacity -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="capacity">
							Capacity</label>
						<div class="col-md-8">
							<input type="number" name="capacity" class="form-control"
								id="capacity" th:value="${ticket.capacity}"
								placeholder="Capacity" /> <span class="help-block">Capacity
								of the event</span>
						</div>
					</div>

					<!-- Format -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="format"> Format
						</label>
						<div class="col-md-8">
							<select th:value="${ticket.format}" id="format" name="format"
								class="form-control">
								<option value="electronic">Electronic</option>
								<option value="paper">Paper</option>
							</select>
						</div>
					</div>

					<!-- Barcode -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="barcode">
							Barcode</label>
						<div class="col-md-8">
							<input type="text" name="barCode" class="form-control"
								id="barCode" th:value="${ticket.barCode}" placeholder="Barcode" />
							<span class="help-block">Barcode of the ticket</span>
						</div>
					</div>

					<!-- shipping weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">
							Shipping Weight</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${ticket.shippingWeight}" type="number"
									name="shippingWeight" class="form-control" id="shippingWeight" step="0.01"
									placeholder="Shipping Weight" /> <span
									class="input-group-addon">Ounces</span>
							</div>
							<span class="help-block">Shipping Weight of the order</span>
						</div>
					</div>

					<!-- list price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="listPrice">
							List Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${ticket.listPrice}" type="number" name="listPrice" step="0.01"
									class="form-control" id="listPrice" placeholder="List Price" />
							</div>
							<span class="help-block">List Price of the Ticket</span>
						</div>
					</div>

					<!-- our price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="ourPrice"> Our
							Price</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">$</span> <input
									th:value="${ticket.ourPrice}" type="number" name="ourPrice" step="0.01"
									class="form-control" id="ourPrice" placeholder="Our Price" />
							</div>
							<span class="help-block">Our Price of the Ticket</span>
						</div>
					</div>

					<!-- in stock number -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="inStockNumber">
							Number in Stock</label>
						<div class="col-md-8">
							<div class="input-group">
								<input th:value="${ticket.inStockNumber}" type="number"
									name="inStockNumber" class="form-control" id="inStockNumber"
									placeholder="Number of in-stock copies" />
							</div>
							<span class="help-block">Number of in-stock copies</span>
						</div>
					</div>

					<!-- status of ticket -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="status"> Status</label>
						<div class="col-md-8">
							<div class="input-group">
								<label><input value="true" type="radio" name="active"
									id="active" checked="checked" />Active </label> <label><input
									value="false" type="radio" name="active" id="active" />Inactive
								</label>
							</div>
							<span class="help-block">Whether the ticket is active or
								inactive</span>
						</div>
					</div>

					<!-- Description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">
							Description</label>
						<div class="col-md-8">
							<textarea name="description" rows="5"
								class="form-control" id="description"
								th:value="${ticket.description}" th:text="${ticket.description}"
								placeholder="Description"> </textarea>
							<span class="help-block">Description of the ticket</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="ticketImage">Upload Ticket Image</label>
						</div>
						<div class="col-md-8">
							<input id="ticketImage" type="file" name="ticketImage"
								th:value="${ticket.ticketImage}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Update
								Ticket</button>
							<a class="btn btn-danger" th:href="@{/ticket/ticketInfo(id=${ticket.id})}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
